VITE_APP_ENV=local
VITE_BACKEND_URL=https://api.mile365runclub.test

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_API_SECRET=
VITE_CLOUDINARY_URL=

VITE_MILE365_FACEBOOK_PAGE_LINK=
VITE_MILE365_FACEBOOK_GROUP_LINK=
VITE_MILE365_INSTAGRAM_LINK=
VITE_MILE365_TIKTOK_LINK=
VITE_MILE365_STRAVA_LINK=